<h3>Edit your recipe</h3>

<%= form_for @recipe do |f| %>
  <div class="row">
    <div class="small-6 columns">
      <div class="row">
        <div class="small-4 columns">
          <%= f.label :title, "Title", class: "right inline" %>
        </div>
        <div class="small-8 columns">
          <%= f.text_field :title, value: @recipe.title %>
        </div>
      </div>
      <div class="row">
        <div class="small-4 columns">
          <%= f.label :instructions, class: "right inline" %>
        </div>
        <div class="small-8 columns">
          <%= f.text_area :instructions, value: @recipe.instructions, size: "30x10" %>
        </div>
      </div>
      <div class="row">
        <div class="small-4 columns">
          <%= f.label :recipe_image %>
        </div>
        <div class="small-8 columns">
          <%= f.file_field :recipe_image %>
        </div>
      </div>
      <div class="row">
        <div class="small-4 columns">
          <% counter = 1 %>
          <% if counter < @recipe.recipe_ingredients.length %>
            <% ingredient_id = @recipe.recipe_ingredients[counter].ingredient.id %>
            <% measurement_id = @recipe.recipe_ingredients[counter].measurement_unit.id %>
            <% quantity = @recipe.recipe_ingredients[counter].ingredient.quantity %>
          <% end %>
          <%= f.fields_for :recipe_ingredients do |ingredient_form| %>
            <%= ingredient_form.collection_select :ingredient, Ingredient.all, :id, :name %>
            <%= ingredient_form.collection_select :measurement_unit, MeasurementUnit.all, :id, :name %>
            <%= ingredient_form.text_field :quantity %>
            <% counter += 1 %>
          <% end %>
        </div>
      </div>
      <%= f.submit "Save Recipe" %>
    </div>
  </div>
<% end %>
