<div class="medium-6 columns float-left">
  <% if !@recipes.empty? %>
    <% @recipes.each do |recipe| %>
      <div class="small-12 medium-6 columns end">
        <div class="small-12 columns recipe_card_margin">
          <article class="article-card">
            <img src="<%= recipe.image_url %>">
            <div class="card-content">
              <h4><%= recipe.title %></h4>
              <p>Blah blah content blah blah blah.</p>
              <p>
                <%= link_to "Recipe Details", recipe_path(recipe.id), id: "recipe-link-#{recipe.id}" %>
                <div>
                  <a href="#" class="left-arrow" id="recipe-remove-<%= recipe.id %>">Remove</a>
                  <span class="recipe-increment-total" id="recipe-increment-total-<%= recipe.id %>">0</span>
                  <a href="#" class="right-arrow" id="recipe-add-<%= recipe.id %>">Add</a>
                </div>
              </p>
            </div>
          </article>
        </div>
      </div>
    <% end %>
  <% else %>
    <%= link_to "Let's enter your first recipe!", new_recipe_path %>
  <% end %>
</div>

<div class="large-3 columns" data-sticky-container>
  <nav class="columns sticky" data-sticky data-stick-to="top-bar" data-sticky-on="large">
    <ul data-magellan>
      <li><a href="#">First Arrival</a></li>
      <li><a href="#">Second Arrival</a></li>
      <li><a href="#">Third Arrival</a></li>
    </ul>
  </nav>
</div>
