<div class="medium-6 columns float-left ">
  <% if !@recipes.empty? %>
    <% @recipes.each do |recipe| %>
      <div class="small-12 columns end slide-in-1 recipe_card_margin article-card">
        <article class="card-content">
            <h4><%= recipe.title %></h4>
          <div class="column small-4">
            <%= image_tag recipe.image_url, size: "150x150" %>
          </div>
          <div class="column small-4">
            <%= link_to "Recipe Details", recipe_path(recipe.id), id: "recipe-link-#{recipe.id}" %>
          </div>
          <div class="column small-4">
            <a href="/changelist" class="left-arrow list-change" id="list-remove-<%= recipe.id %>">Remove</a>
            <span class="recipe-increment-total" id="list-buying-total-<%= recipe.id %>"><%= @recipe_increments[recipe.id] || 0 %></span>
            <a href="/changelist" class="right-arrow list-change" id="list-add-<%= recipe.id %>">Add</a>
          </div>
        </article>
      </div>
    <% end %>
  <% else %>
    <%= link_to "Let's enter your first recipe!", new_recipe_path %>
  <% end %>
</div>

<div class="medium-6 columns slide-in-2" data-sticky-container>
  <nav class="columns sticky" data-sticky data-stick-to="top-bar" data-sticky-on="large">
    <div class="row">
      <div class="medium-12 medium-centered columns">
        <ul class="vertical accordion-menu menu" id="accordion-parent" data-accordion-menu>
          <li>
            <a href="#">Your Shopping List</a>
            <ul class="menu vertical sublevel-1" id="shopping_list">
              <% if !@list_items.empty? %>
                <% @list_items.each do |list_item| %>
                  <li><a class="subitem" href="#"><%= list_item.to_s %></a></li>
                <% end %>
              <% else %>
                <li><a class="subitem" href="#">Empty list!</a></li>
              <% end %>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
