<div data-sticky-container >
  <div class="small-12 sticky slide-down-1" data-sticky data-options="marginTop: 0">
    <div class="top-bar" id="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="website-main-link menu-text"><h2><%= link_to "Recipe Scribe", root_path %></h2></li>
          <li><%= link_to "Add Recipe", new_recipe_path, id: "add_recipe" %></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <% if current_user %>
          Signed in as <%= current_user.name %> | <%= link_to "Logout", logout_path %>
        <% else %>
          <%= link_to 'Login', login_path %> | <%= link_to 'Signup', signup_path %>
        <% end %>
      </div>
    </div>
  </div>
</div>
